
.button {
    -fx-background-color: #4D89FF;
    -fx-padding: 8px;
    -fx-pref-width: 200px;
    -fx-text-fill: white;
}



/* Fix for scroll panes always having gray background */
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}



/* Navigation background color: #A4C2FD */

.navigation-menu-button {
    -fx-text-fill: white;
    -fx-max-width: Infinity;
    -fx-background-color: transparent;
    -fx-font-size: 16px;
}
.navigation-menu-button:hover {
    -fx-background-color: #9fb6e3;
}
.navigation-menu-button.active {
    -fx-background-color: #284C92;
}
.navigation-menu-button.log-out {
    -fx-text-fill: #ec0000;
}

